/* configuration inputs */

.range-label {
    width: 100%;
    height: 22px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color:black;
    position: relative;
}

#saveConf {
    -webkit-app-region: no-drag;
    color:black;
    left: 195px;
    position: absolute;
    top: 12px;
}

.range-field {
    -webkit-app-region: drag;
    position: relative;
    margin: 0px;
}

.range-groups {
    position: absolute;
    width: 180px;
}

.range-group {
    position: relative;
    width: 100%;
    height: 30px;
}

.icon-config {
    -webkit-app-region: drag;
    color:black;
    display:inline-block;
    font-size: 16px;
    float: left;
}
.icon-value {
    -webkit-app-region: drag;
    display:inline-block;
    float: right;
    width: 20px;

    font-family: sans-serif;
    font-weight: bold;
    color:black;
    font-size: 16px;
}
.icon-slide {
    color:black;
    display:inline-block;
}
form {
    display: inline-block;
}

/***************
Range
***************/
input[type=range], input[type=range] + .thumb {
    cursor: pointer;
}

input[type=range] {
    -webkit-app-region: no-drag;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: auto;
    margin: 0px;
    padding: 10px 0px 0px 5px;
}

input[type=range] + .thumb {
    position: absolute;
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: rgb(195, 39, 41);
    top: 10px;
    margin-left: -6px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=range] + .thumb .value {
    display: block;
    width: 30px;
    text-align: center;
    color:  rgb(195, 39, 41);
    font-size: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=range] + .thumb.active {
    border-radius: 0% 50% 0% 50%;
}

input[type=range] + .thumb.active .value {
    color: #000;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

input[type=range]:focus {
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #000;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: rgb(195, 39, 41);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin: -5px 0 0 0;
    transition: .3s;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    /*  background: #cccccc;*/
    background: rgba(255, 35, 38, 0.74);
}

input[type=range] {
    /* fix for FF unable to apply focus style bug  */
    /* border: 1px solid white; */
    /*required for proper track sizing in FF*/
}

input[type=range]::-moz-range-track {
    height: 3px;
    background: #ddd;
    border: none;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: rgb(195, 39, 41);
    margin-top: -5px;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

input[type=range]::-ms-track {
    height: 3px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    /*background: #26a69a;*/
    background:rgb(195, 39, 41);
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
