
/* Window */
body {
    -webkit-app-region: drag;
    background-color:white; /* fallback color */
    background-color:rgba(0, 0, 0, 0.0);
    height:85px;
    overflow:hidden;
    width:220px;
}
.pomodoro {
    height:85px;
    overflow:hidden;
    position:relative;
    width:220px;
}

/* Views */
.datetime {
    height:85px;
    position:absolute;
    right:-220px;
    top:0;
    width:220px;
}
.config {
    height:85px;
    position:absolute;
    right:-220px;
    top:0;
    width:220px;
}

/* Start/Stop/Pause Bouton */
.startstop {
    -webkit-app-region: no-drag;
    color:black;
    left: 139px;
    position: absolute;
    top: 10px;
}

/* Boutons */
.conf {
    -webkit-app-region: no-drag;
    color:black;
    left: 195px;
    position: absolute;
    top: 32px;
}

.quit {
    -webkit-app-region: no-drag;
    color:black;
    left: 195px;
    position: absolute;
    top: 12px;
}

.date {
    -webkit-app-region: no-drag;
    color:black;   
    left: 195px;
    position: absolute;
    top: 55px;
}

/* pomodori indicator */
.pomodori {
    -webkit-app-region: no-drag;
    color:rgb(195, 39, 41);
    left: 30px;
    position: absolute;
    top: 94px;
}

.pomodori1 {
    left: 5px;    
    top:  60px;
}
.pomodori2 {
    left: 20px;    
    top:  60px;
}
.pomodori3 {
    left: 35px;    
    top:  60px;
}
.pomodori4 {
    left: 50px;    
    top: 60px;
}
.pomodori5 {
    left: 65px;
    top: 60px;
}
.pomodori6 {
    left: 80px;
    top: 60px;
}
.pomodori7 {
    left: 95px;
    top: 60px;
}
.pomodori8 {
    left: 110px;
    top: 60px;
}

/* Canvas */
.counter {
    -webkit-app-region: drag;
    left: 125px;
    position: absolute;
    top: 0;
}

.counter2 {
    -webkit-app-region: drag;
    left: 0;
    position: absolute;
    top: 0;
}

/* configuration inputs */
.text-input-xs
{
    -webkit-app-region: drag;
    font-size: 10px;
    height: 22px;
    padding: 1px 5px;
    width: 75px;
}
.input-xs
{
    -webkit-app-region: no-drag;
    font-size: 10px;
    height: 22px;
    padding: 0px 10px 0px 5px;
    width: 50px;
    text-align: center;
}
.units-input-xs
{
    -webkit-app-region: drag;
    font-size: 10px;
    height: 22px;
    padding: 1px 5px;
    width: 20px;
}
.btn-save {
    -webkit-app-region: no-drag;
    left: 150px;
    position: absolute;
    top: 0px;
}

.week{
    position:absolute;
    top:90px;
    font-size:8px;
    text-align: center;
    font-family: "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
}

.month{
    position:absolute;
    top:0px;
    font-size:8px;
    text-align: center;
    font-family: "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
}

.day{
    width:10px;
    height:10px;
    position:absolute;
    background:#d3d3d3;
}

.today{
    padding:-1px -1px -1px -1px;
    box-shadow: 0 0 0 1px red inset;
}

.mon {
    top:11px;
}
.tue {
    top:22px;
}
.wed {
    top:33px;
}
.thu {
    top:44px;
}
.fri {
    top:55px;
}
.sat{
    top:66px;
}
.sun {
    top:77px;
}

