/* Window */
body {
    -webkit-app-region: drag;
    background-color:white; /* fallback color */
    background-color:rgba(0, 0, 0, 0.0);
    height:85px;
    overflow:hidden;
    width:220px;
    margin: 0px;
}

.pomodoro {
    height:85px;
    overflow:hidden;
    position:absolute;
    width:220px;
    height: 100%;
}

/* Views */
.datetime {
    height:85px;
    position:absolute;
    right:-220px;
    top:0;
    width:220px;
    height: 100%;
}

/* Start/Stop/Pause Bouton */
.startstop {
    -webkit-app-region: no-drag;
    color:black;
    left: 139px;
    position: absolute;
    top: 10px;
}

/* Boutons */
.bt-ctrl {
    -webkit-app-region: no-drag;
    color:black;
    position: absolute;
}

.conf {
    left: 195px;
    top: 50%;

    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.quit {
    left: 195px;
    top: 12px;
}

.calheatmap {
    left: 195px;
    bottom: 12px;
}

.date {
    left: 195px;
    bottom: 12px;

    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* pomodori indicator */
.pomodori {
    -webkit-app-region: no-drag;
    color:rgb(195, 39, 41);
    left: 30px;
    position: absolute;
    top: 94px;
}

.pomodori1 {
    left: 5px;
    top:  60px;
}
.pomodori2 {
    left: 20px;
    top:  60px;
}
.pomodori3 {
    left: 35px;
    top:  60px;
}
.pomodori4 {
    left: 50px;
    top: 60px;
}
.pomodori5 {
    left: 65px;
    top: 60px;
}
.pomodori6 {
    left: 80px;
    top: 60px;
}
.pomodori7 {
    left: 95px;
    top: 60px;
}
.pomodori8 {
    left: 110px;
    top: 60px;
}

/* Canvas */
.counter {
    -webkit-app-region: drag;
    left: 125px;
    position: absolute;
    top: 0;
}

.counter2 {
    -webkit-app-region: drag;
    left: 0;
    position: absolute;
    top: 0;
}

.week{
    font-family: "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
    font-size:8px;
    position:absolute;
    text-align: center;
    top:90px;
}

.month{
    font-family: "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
    font-size:8px;
    position:absolute;
    text-align: center;
    top:0;
}

.day{
    background:#d3d3d3;
    height:10px;
    position:absolute;
    width:10px;
}

.today{
    box-shadow: 0 0 0 1px red inset;
    padding:-1px -1px -1px -1px;
}

.mon {
    top:11px;
}
.tue {
    top:22px;
}
.wed {
    top:33px;
}
.thu {
    top:44px;
}
.fri {
    top:55px;
}
.sat{
    top:66px;
}
.sun {
    top:77px;
}

.v1 {
    background:#9fff93;
}

.v2 {
    background:#6fff5d;
}

.v3 {
    background:#3eff26;
}

.v4 {
    background:#1cff00;
}

.v5 {
    background:#16c600;
}

.v6 {
    background:#0f8800;
}
